* {
  --background-color: #1a1a1a;

  --font-color: #f5f5f5;
  --placeholder-color: #DBDBDB;

  --accent-color: #6179EA;

  --first-color: #4659AB;
  --second-color: #2C376B;
  --third-color: #6580F7;
  --fourth-color: #566CD1;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Source Code Pro', monospace;
  color: var(--font-color);
}


body {
  background-color: var(--background-color);
}

#app {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 25px;
  justify-content: center;
}

